.PlayerAndTeamLogo {
  position: relative;
  width: 300px; /* Adjust as needed */
  height: 300px; /* Adjust as needed */
}

.team-logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px; /* Adjust as needed */
  height: auto;
  z-index: 1;
}

.player-headshot {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 150px; /* Adjust as needed */
  height: auto;
  z-index: 2;
}

.App {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.HexBinPlot {
  flex-grow: 1;
}

